    <center>
  
        
       

<% if @task.present?%>
<h1>Task Status</h1>
<% @task.each do |t| %>
<%=t.status%>
<div>

<%=link_to "EditStatus",  edit_status_path(t) %>
</div>
<%end%>
<%else%>
<h2> No Tasks assigned to you </h2>
<%end%> 
        
</center>
